* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1246px;
}

.navbar {
  padding: 21px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
.navbar__link img {
  margin: 0 8px;
}
.navbar__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__contact img {
  margin: 0 16px;
}
.navbar__contact span {
  margin-left: -8px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: 0.01em;
  /* text/01 */
  color: #000000;
}
.navbar__contact a {
  font-family: sans-serif;
  padding: 5px 15px;
  margin-left: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 22px;
  /* identical to box height, or 200% */
  letter-spacing: 0.17em;
  text-transform: uppercase;
  /* text/00 */
  background-color: black;
  color: #ffffff;
  border-radius: 7px;
}

.navigation {
  padding-top: 9px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigation__links {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  background: #f2f2f2;
  border-radius: 28px;
  padding: 5px 12px;
}

.home {
  padding: 60px 0;
}
.home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home__left {
  position: relative;
  width: 64%;
  height: 496px;
  padding: 40px;
  background-image: url("../../images/home-img/home-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home__left .left__top {
  position: absolute;
  right: 42px;
  top: 42px;
}
.home__left .left__bottom {
  position: absolute;
  bottom: 42px;
  right: 42px;
}
.home__left h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 60px;
  max-width: 656px;
  color: #000000;
  margin-bottom: 21px;
}
.home__left p {
  max-width: 552px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 68px;
}
.home__left span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #000000;
}
.home__right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #000000;
  padding: 32px 40px;
  width: 30.8%;
}
.home__right__title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  /* identical to box height, or 182% */
  /* text/00 */
  color: #ffffff;
  margin-bottom: 95px;
}
.home__right h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  /* text/00 */
  margin-bottom: 23px;
  color: #ffffff;
}
.home__right__features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.home__right p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  border-radius: 28px;
  padding: 5px 8px;
  border: 1px solid #a8a8a8;
  color: #a8a8a8;
  margin-right: 5px;
  margin-bottom: 14px;
}
.home__right__btn {
  width: 304px;
  height: 48px;
  background: #252525;
  border-radius: 4px;
  color: #a8a8a8;
  margin-top: 38px;
}

.partners {
  padding: 56px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}

.directions {
  padding: 128px 0;
}
.directions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.directions__title {
  width: 100%;
  text-align: left;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 32px;
}
.directions__row {
  width: 100%;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 70px;
  position: relative;
}
.directions__row h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #a8a8a8;
}
.directions__row h5 sup {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
}
.directions__row h5:first-child {
  color: #000000;
}
.directions__row h5:first-child sup {
  color: #000000;
}
.directions__row img {
  position: absolute;
  bottom: 0;
}
.directions__cards {
  padding: 31px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.directions__cards__item {
  width: 384px;
  position: relative;
  padding: 24px 32px;
  background-position: center;
  background-repeat: no-repeat;
}
.directions__cards__item h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 9px;
}
.directions__cards__item p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 77px;
}
.directions__cards__item h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  padding: 5px 15px;
}
.directions__cards__item h4 img {
  position: static;
  margin-right: 5px;
}
.directions__cards__item img {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
.directions__btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  background-color: transparent;
}

.diploma {
  padding-top: 150px;
}
.diploma .container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 32px;
}
.diploma__left #line {
  width: 100%;
}
.diploma__title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  /* or 116% */
  /* text/01 */
  color: #000000;
  margin-bottom: 27px;
}
.diploma p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 46px;
}

.feedback {
  padding: 128px 0 128px;
}
.feedback__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.feedback__title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  color: #000000;
}
.feedback__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.feedback__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.feedback__text {
  padding: 33px 40px;
  height: 376px;
  background-color: #f5f5f5;
}
.feedback__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  -webkit-mask-image: -webkit-linear-gradient(270deg, #f5f5f5 61.47%, rgba(245, 245, 245, 0) 97.2%);
          mask-image: -webkit-linear-gradient(270deg, #f5f5f5 61.47%, rgba(245, 245, 245, 0) 97.2%);
}
.feedback__img {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.feedback__img img {
  margin-right: 16px;
}
.feedback__img h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
}
.feedback__img p {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
}
.feedback__img button {
  padding: 2px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 22px;
  /* identical to box height, or 200% */
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #a8a8a8;
  background-color: transparent;
  border-radius: 5px;
}
.feedback__img button img {
  margin-right: 0;
}